<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add artwork</title>
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="wrapperTitleForm">
      <h2 class="homeTitle pt-4">Artwork</h2>
    </div>

    <div class="wrapperForm">
      <div class="space">
        <!-- REGISTRO DE ARTE -->
        <div class="container-fluid">
          <form
            class="row g-3"
            action="/artwork/new"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="col-md-6">
              <label for="inputTitle" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="inputTitle"
                placeholder="La Gioconda"
                name="title"
                required
              />
            </div>

            <div class="col-md-6">
              <label for="inputArtist" class="form-label">Artist</label>
              <select
                required
                class="form-select"
                aria-label="Default select example"
                id="inputArtist"
                name="artist_id"
              >
                <option selected disabled>Leonardo Da Vinci</option>
                <% result.forEach(artist => { %>
                <option value="<%= artist.artist_id %>">
                  <%= artist.artistic_name %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="col-12">
              <label for="inputInfo" class="form-label">Description</label>
              <br />
              <textarea
                id="inputInfo"
                class="form-control"
                placeholder="Oil painting on a poplar wood panel"
                name="description"
              ></textarea>
            </div>

            <div class="col-12 mb-3">
              <label for="formFile" class="form-label">Upload artwork</label>
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="img"
                required
              />
            </div>

            <div class="col-12 text-end">
              <button type="submit" class="pure-button fuller-button green">
                Add
              </button>
              <a href="/"
                ><button
                  type="button"
                  class="pure-button fuller-button orange ms-2"
                >
                  Cancel
                </button></a
              >
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include("footer") %>
  </body>
</html>
