<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include("navbarUserEdit") %>
    <div class="wrapperTitleForm">
      <h2 class="homeTitle pt-4"><%= result[0].fullname %></h2>
    </div>

    <div class="wrapperForm">
      <div class="space">
        <!-- EDICIÓN DE PASSWORD -->

        <div class="container-fluid">
          <form
            class="row g-3"
            action="/artist/change_password/<%= result[0].artist_id %>"
            method="post"
          >
            <div class="col-">
              <label for="inputPassword" class="form-label"
                >Current password</label
              >
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="password"
              />
            </div>

            <div class="col-">
              <label for="inputPassword" class="form-label">New password</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="new_password"
              />
            </div>

            <div class="col-">
              <label for="inputPassword" class="form-label"
                >Repeat new password</label
              >
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="repeat_password"
              />
            </div>

            <div class="col- text-end">
              <button type="submit" class="pure-button fuller-button green">
                Accept
              </button>
              <a href="/artist/account/<%= result[0].artist_id %>"
                ><button
                  type="button"
                  class="pure-button fuller-button orange ms-2"
                >
                  Cancel
                </button></a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("footer") %>
  </body>
</html>
