<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>digiArt</title>
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include("navbar") %>
    <br />
    <div>
      <% result.forEach(artist => { %>
      <div>
        <img width="100px" src="/images/artist/<%= artist.picture %>" alt="" />
        <p>Name: <%= artist.name %></p>
        <button>
          <a href="/artist/<%= artist.artist_id %>">More</a>
        </button>
      </div>

      <% }) %>
    </div>
  </body>
</html>
